In [1]:
import numpy as np
import pandas as pd

In [2]:
titanic = pd.read_csv("titanic.csv")
print(titanic.shape)
titanic.head()

(891, 11)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
X = titanic.iloc[:,0:titanic.shape[1]-1]
Y = titanic.iloc[:,-1]
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [4]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, random_state=123211)
print(type(X_train))
print(type(Y_train))
print(type(Y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [5]:
X_Y_train = X_train.copy()
X_Y_train['Survived'] = Y_train
print(X_Y_train.shape)
print(X_test.shape)
print(Y_train.shape)
X_Y_train.to_csv('titanic_x_y_train.csv', index=False)
X_train.to_csv('titanic_x_train.csv', index=False)
Y_train.to_csv('titanic_y_train.csv', index=False)
X_test.to_csv('titanic_x_test.csv', index=False)
Y_test.to_csv('titanic_y_test.csv', index=False)

(668, 11)
(223, 10)
(668,)

In [6]:
X_Y_train_l = pd.read_csv('titanic_x_y_train.csv', delimiter=',')
X_test_l = pd.read_csv('titanic_x_test.csv', delimiter=',')
print(X_Y_train_l.shape)
X_Y_train_l.isnull().sum()

#X_Y_train_l.head()

(668, 11)

Pclass        0
Name          0
Sex           0
Age         141
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       518
Embarked      1
Survived      0
dtype: int64

In [7]:
del X_Y_train_l["Name"]
del X_Y_train_l["Ticket"]
del X_Y_train_l["Cabin"]
del X_Y_train_l["Fare"]
X_Y_train_l.head()

   Pclass     Sex   Age  SibSp  Parch Embarked  Survived
0       2    male  62.0      0      0        S         1
1       2  female  28.0      0      0        S         1
2       3    male  30.0      1      0        S         0
3       3    male  19.0      0      0        S         0
4       3    male  31.0      0      0        Q         0

In [8]:
del X_test_l["Name"]
del X_test_l["Ticket"]
del X_test_l["Cabin"]
del X_test_l["Fare"]

In [9]:
print(X_Y_train_l.isnull().sum())
print(X_Y_train_l.shape)
#X_Y_train_l.dropna(inplace=True)
X_Y_train_l = X_Y_train_l.fillna(X_Y_train_l.median())
print(X_Y_train_l.isnull().sum())
X_Y_train_l.shape

Pclass        0
Sex           0
Age         141
SibSp         0
Parch         0
Embarked      1
Survived      0
dtype: int64
(668, 7)
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    1
Survived    0
dtype: int64

<ipython-input-9-3befb175776c>:4: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_Y_train_l = X_Y_train_l.fillna(X_Y_train_l.median())

(668, 7)

In [10]:
X_Y_train_l.dropna(inplace=True)
print(X_Y_train_l.isnull().sum())
X_Y_train_l.shape

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
Survived    0
dtype: int64

(667, 7)

In [11]:
X_train_l = X_Y_train_l.iloc[:,:X_Y_train_l.shape[1]-1]
print(X_train_l.shape)
Y_train_l = X_Y_train_l.iloc[:,-1]
print(Y_train_l.shape)
print(Y_train_l)

(667, 6)
(667,)
0      1
1      1
2      0
3      0
4      0
      ..
663    1
664    0
665    0
666    1
667    0
Name: Survived, Length: 667, dtype: int64

In [12]:
def getNumber(str):
    if str=="male":
        return 1
    else:
        return 2
X_train_l['gender']=X_train_l["Sex"].apply(getNumber)
print(X_train_l)
del X_train_l["Sex"]
X_train_l.head()

     Pclass     Sex   Age  SibSp  Parch Embarked  gender
0         2    male  62.0      0      0        S       1
1         2  female  28.0      0      0        S       2
2         3    male  30.0      1      0        S       1
3         3    male  19.0      0      0        S       1
4         3    male  31.0      0      0        Q       1
..      ...     ...   ...    ...    ...      ...     ...
663       3    male  21.0      0      0        S       1
664       3  female  28.0      0      0        Q       2
665       1    male  28.0      0      0        S       1
666       1    male  28.0      0      0        S       1
667       3  female  14.0      0      0        S       2

[667 rows x 7 columns]

   Pclass   Age  SibSp  Parch Embarked  gender
0       2  62.0      0      0        S       1
1       2  28.0      0      0        S       2
2       3  30.0      1      0        S       1
3       3  19.0      0      0        S       1
4       3  31.0      0      0        Q       1

In [13]:
X_test_l['gender']=X_test_l["Sex"].apply(getNumber)
print(X_test_l)
del X_test_l["Sex"]
X_test_l.head()

     Pclass     Sex   Age  SibSp  Parch Embarked  gender
0         1    male  34.0      0      0        S       1
1         1    male  40.0      0      0        C       1
2         1  female  52.0      1      0        C       2
3         3    male  24.0      0      0        S       1
4         2    male  31.0      1      1        C       1
..      ...     ...   ...    ...    ...      ...     ...
218       1    male  27.0      1      0        S       1
219       3    male   NaN      0      0        S       1
220       3    male  21.0      0      0        S       1
221       2  female   NaN      0      0        Q       2
222       3    male  27.0      1      0        C       1

[223 rows x 7 columns]

   Pclass   Age  SibSp  Parch Embarked  gender
0       1  34.0      0      0        S       1
1       1  40.0      0      0        C       1
2       1  52.0      1      0        C       2
3       3  24.0      0      0        S       1
4       2  31.0      1      1        C       1

In [14]:
def getNumberEmbarked(str):
    if str=='C':
        return 1
    elif str=='Q':
        return 2
    else:
        return 3
X_train_l['Embarked']=X_train_l["Embarked"].apply(getNumberEmbarked)
print(X_train_l)

     Pclass   Age  SibSp  Parch  Embarked  gender
0         2  62.0      0      0         3       1
1         2  28.0      0      0         3       2
2         3  30.0      1      0         3       1
3         3  19.0      0      0         3       1
4         3  31.0      0      0         2       1
..      ...   ...    ...    ...       ...     ...
663       3  21.0      0      0         3       1
664       3  28.0      0      0         2       2
665       1  28.0      0      0         3       1
666       1  28.0      0      0         3       1
667       3  14.0      0      0         3       2

[667 rows x 6 columns]

In [15]:
X_test_l['Embarked']=X_test_l["Embarked"].apply(getNumberEmbarked)
print(X_test_l)

     Pclass   Age  SibSp  Parch  Embarked  gender
0         1  34.0      0      0         3       1
1         1  40.0      0      0         1       1
2         1  52.0      1      0         1       2
3         3  24.0      0      0         3       1
4         2  31.0      1      1         1       1
..      ...   ...    ...    ...       ...     ...
218       1  27.0      1      0         3       1
219       3   NaN      0      0         3       1
220       3  21.0      0      0         3       1
221       2   NaN      0      0         2       2
222       3  27.0      1      0         1       1

[223 rows x 6 columns]

In [16]:
print(X_test_l.isnull().sum())
X_test_l = X_test_l.fillna(X_test_l.median())
X_test_l.isnull().sum()

Pclass       0
Age         36
SibSp        0
Parch        0
Embarked     0
gender       0
dtype: int64

Pclass      0
Age         0
SibSp       0
Parch       0
Embarked    0
gender      0
dtype: int64

In [17]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train_l, Y_train_l)
Y_pred_l = clf.predict(X_test_l)
clf.score(X_train_l,Y_train_l), clf.score(X_test_l,Y_test)

(0.9460269865067467, 0.7309417040358744)

In [18]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth = 6, random_state=0)
clf.fit(X_train_l, Y_train_l)
clf.score(X_train_l,Y_train_l),clf.score(X_test_l,Y_test)

(0.863568215892054, 0.7623318385650224)